*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: #ddd; 
}
span{
  margin-right: 5px;
}
a{
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.btn{
  cursor: pointer;
  padding: 10px;
  background: none;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 5px;
  font-size: 14px;
}

.btn-div {
  width: 20%;
  margin: 25% auto 0;
  text-align: center;
}

.modal{
  position: absolute;
  top: 10%;
  background-color: #fff;
  border-radius: 5px;
  z-index: 1;
  color: #333; 
  width: 46%;

}
.modal-content {
  padding: 20px 30px;
  font-size: 16px;
}
.center{
  text-align: center;
}
.content {
  padding: 10px 0;
}
.content p {
  margin: 20px 0;
  color: #333;
}
.icon-cont {
  display: flex;
  justify-content: center;
  align-items: center;

}
.icon{
  font-size: 50px;
  color: #f494d1;
  margin-bottom: 10px;
  margin: 20px;
}
.purple{
  color: #d695df;
}
.grey{
  color: #666;
}
.green{
  color: #178e6c;
}

.copy-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.link-copy{
 width: 70%;
 padding: 10px;
 border-radius: 5px;
 border: 1px solid #ccc;
 font-size: 16px;
}
.cen-item{
  display: flex;
  align-items: center;
}
.btm-btn{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.alw-acs{
  color: #fff;
  background-color:#000;
  margin-left: 10px;
}
.copy-msg{
  color: #178e6c;
}
@media(max-width: 800px){
  .modal{
    width: 80%;
  }
  .btn-div {
    margin: 50% auto 0;
    width: 50%;
  }
  /* .btn{
    width: 100%;
  } */
    .alw-acs{
    margin-left: 0;
  }

}